
div{

    background-image: url("back.avif");
    background-size: cover;
    height: 250vh;

    
}
table{
    color: rgb(255, 0, 204);
    border-color: black;
}
h2{color: brown;
    font-style: italic;
    text-decoration: overline;
    text-decoration: underline;
}.rs{
    border-color:rgb(225, 216, 216) ;
    color: rgb(191, 13, 13);
    border-width: 5px;
    border-style: dotted;


    
}
button{
    height:max-content;
    width: 100px;
}

.r4{
    background-color: black;
    display: inline;
    color: aliceblue;
    padding: 10px;
    margin-right: 1000px;
    
}
.r1,r2,r3{color: azure;
    background-color: black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}